body {
	background-color: rgb(40, 40, 40);
}
.loginbox {
  margin-top: 10%;
}
.textbox {
  margin-left: 20%; 
  font-size: 22px;
  margin-top: 1%
}
.lgnbtn {
  margin-left: 20%;
  font-size: 22px;
  width: 328px;
  margin-top: 2%
}